body{
	background-color: lightgreen;
}

#start{
	background-color: black;
	color: white;
	opacity: 0.95;
	font-size: 20px;
	font-family: Anton;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	display: block;
	top: 0;
	left: 0;
}

.background    { background: white;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("imgs/lava.png"); background-repeat: no-repeat;}
.wall          { background-image: url("imgs/wall.png"); background-repeat: no-repeat; }

.actor  { position: absolute;  }
.coin   { background-image: url("imgs/coin.png"); border-radius: 20px;}
.player { background-image: url("imgs/fathy.png");
		  background-repeat: no-repeat; }

.monster{ background-image: url("imgs/monsterRight.png"); background-repeat: no-repeat;}
.flipMonster{ background-image: url("imgs/monsterLeft.png"); background-repeat: no-repeat;}
.game {
  overflow: hidden;
  max-width: 720px;
  max-height: 540px;
  position: relative;
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.lost .player {
  background-image: url("imgs/fathyAsh.png");
}
.won .player {
  box-shadow: 0px 0px 20px 20px lightgreen;
}

h1{
	font-family: 'Anton', sans-serif;
}
#subtitle{
	font-family: Courgette;
	font-size: 15px;
	color: black;
	font-style: italic;
}

#start #subtitle{
	color: lightgreen;
}

#enter{
	color : lightgreen;
	font-size: 35px;
}

#pause{
	background-color: black;
	opacity: 0.6;
	display: none;
	color: white;
	font-size: 20px;
	font-family: Anton;
	width: 100%;
}

footer{
	width: 200px;
	height: 30px;
	margin-bottom: 0px;
	background-color: black;
}
#foot{
	color : white;
	font-size: 20px;
	font-family: 'Lobster', cursive;
}
#end{
	display: none;
	font-family: 'Courgette', cursive;
	font-size: 30px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}
